{% extends "base.twig" %}

{% set nav = true %}

{% block title %}Pages{% endblock %}

{% block head %}
    <link rel="stylesheet" href="assets/css/pages.css">
{% endblock %}

{% block content %}
     <div class="card">
          <div class="card-header">
               <h3>Pages</h3>
          </div>
          <div class="card-body">
               {% if pages is defined %}
                    <table><thead><tr><th>Title</th><th>Path</th><th>URL</th><th>Author</th><th>Last changes</th><th>Actions</th></thead>
                    <tbody>
                         {% for page in pages %}
                         <tr>
                              <td>{{ page.name }}</td>
                              <td>{{ page.path }}</td>
                              <td>{{ page.url }}</td>
                              <td>{{ page.author }}</td>
                              <td>{{ page.last_changes }}</td>
                              <td>
                                   <a href="#">Edit</a>
                                   <span>
                                        <a href="#" class="popup-link" data-popup="popup-{{ page.name }}">Quick edit</a>
                                        <div class="popup" id="popup-{{ page.name }}">
                                             <div class="popup-content">
                                                  <form action="/clockwork-admin/pages/rename" method="post">
                                                       <input type="hidden" name="filePath" value="{{ page.path }}">
                                                       <input type="text" name="newFileName" placeholder="New name">
                                                       <input type="submit" value="Rename">
                                                  </form>
                                                  <br>
                                                  <button class="close-popup">Close</button>
                                             </div>
                                        </div>
                                   </span>
                                   <a href="#">Delete</a>
                              </td>
                         </tr>
                         {% endfor %}
                    </tbody></table>
               {% else %}
                    <em>NO PAGES FOUND</em>
               {% endif %}
          </div>
     </div>
{% endblock %}
