{% extends "base.twig" %}

{% set nav = true %}

{% block title %}Pages{% endblock %}

{% block content %}
     <h2>Pages</h2>
     <section>
          {% if pages is defined %}
               <thead><tr><th>Title</th><th>Path</th><th>URL</th><th>Author</th><th>Last changes</th></thead>
               <tbody>
                    {% for page in pages %}
                    <tr>
                         <td>{{ page.title }}</td>
                         <td>{{ page.path }}</td>
                         <td>{{ page.url }}</td>
                         <td>{{ page.author }}</td>
                         <td>{{ page.last_changes }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
          {% else %}
               <em>NO PAGES FOUND</em>
          {% endif %}
     </section>
{% endblock %}
